@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: black;
    overflow-wrap: break-word;
}

a:hover {
    color: #00a4d6;
}

.cornerimg {
    position: fixed;
    right: 0px;
    bottom: 0px;
}

.cornerimg img {
    height: 175px;
    width: auto;
}

body {
    width: 80%;
    margin: auto;
}

p {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 575;
    font-size: large;
    /* margin: 20px auto; */
    line-height: 25px; 
    margin: 10px 0;
}

article p {
    margin: 30px 0;
}

article a {
    text-decoration: underline;
}

.QandA p {
    margin: 8px 0;
}

.welcome {
    text-align: center;
}

.welcome p {
    font-family: 'Courier Prime', monospace;
    font-weight: 575;
    font-size: larger;
}

article {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

article img {
    width: 300px;
    height: auto;
}

.QandA {
    margin-bottom: 50px;
}

header{
    border-bottom: 2px solid #E2E8F0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;
}

.home-icon:hover, .menu-icon:hover, .active.home-icon {
    filter: invert(23%) sepia(97%) saturate(1650%) hue-rotate(196deg) brightness(101%) contrast(105%);
}

.active {
    color: #00a4d6;
}


.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    margin-left: 20px;
}

.menu-icon {
    display: none;
}

@media only screen and (max-width: 768px) {
    body {
        width: 100%;
    }
    
    .nav-items {
        position: fixed;
        left: -100%;
        top: 60px;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        border-bottom: 1px solid #E2E8F0;
    }

    .nav-items.active {
        left: 0;
    }

    .menu-icon.active {
        filter: invert(23%) sepia(97%) saturate(1650%) hue-rotate(196deg) brightness(101%) contrast(105%);
    }

    .nav-link {
        margin: 20px 0;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .cornerimg {
        position: relative;
        right: 0px;
        bottom: 0px;
    }

}

figcaption {
    text-align: center;
    display: table-caption;
    caption-side: bottom;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex: auto;
    /* text-align: center; */
    margin-top: 20px;
}

.gallery a {
    display: table;
    vertical-align: top;
    height: 0.1%;
}

.gallery img.tallimg {
    width: auto;
    height: 300px;
}

.gallery img {
    width: 320px;
    height: auto;
	transition: .05s ease-in-out;
}



.gallery img:hover {
    /* filter: grayscale(1); */
	transform: scale(1.02);
}

